In [1]:
import featuretools as ft

In [12]:
data = ft.demo.load_mock_customer()

In [24]:
transactions_df = data["transactions"].merge(data["sessions"]).merge(data["customers"])

In [34]:
data["sessions"]

    session_id  customer_id   device       session_start
0            1            2  desktop 2014-01-01 00:00:00
1            2            5   mobile 2014-01-01 00:17:20
2            3            4   mobile 2014-01-01 00:28:10
3            4            1   mobile 2014-01-01 00:44:25
4            5            4   mobile 2014-01-01 01:11:30
5            6            1   tablet 2014-01-01 01:23:25
6            7            3   tablet 2014-01-01 01:39:40
7            8            4   tablet 2014-01-01 01:55:55
8            9            1  desktop 2014-01-01 02:15:25
9           10            2   tablet 2014-01-01 02:31:40
10          11            4   mobile 2014-01-01 02:47:55
11          12            4  desktop 2014-01-01 03:04:10
12          13            4   mobile 2014-01-01 03:15:00
13          14            1   tablet 2014-01-01 03:28:00
14          15            2  desktop 2014-01-01 03:41:00
15          16            2  desktop 2014-01-01 03:49:40
16          17            2   tablet 2014-01-01 04:00:30
17          18            1  desktop 2014-01-01 04:14:35
18          19            3  desktop 2014-01-01 04:27:35
19          20            5  desktop 2014-01-01 04:46:00
20          21            4  desktop 2014-01-01 05:02:15
21          22            4  desktop 2014-01-01 05:21:45
22          23            3  desktop 2014-01-01 05:32:35
23          24            5   tablet 2014-01-01 05:44:30
24          25            3  desktop 2014-01-01 05:59:40
25          26            1   tablet 2014-01-01 06:17:00
26          27            1   mobile 2014-01-01 06:34:20
27          28            5   mobile 2014-01-01 06:50:35
28          29            1   mobile 2014-01-01 07:10:05
29          30            5  desktop 2014-01-01 07:27:25
30          31            2   mobile 2014-01-01 07:42:35
31          32            5   mobile 2014-01-01 08:02:05
32          33            2   mobile 2014-01-01 08:10:45
33          34            3  desktop 2014-01-01 08:24:50
34          35            3   mobile 2014-01-01 08:44:20

In [35]:
data["transactions"].merge(data["sessions"])

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device,session_start
0,298,1,2014-01-01 00:00:00,5,127.64,2,desktop,2014-01-01 00:00:00
1,2,1,2014-01-01 00:01:05,2,109.48,2,desktop,2014-01-01 00:00:00
2,308,1,2014-01-01 00:02:10,3,95.06,2,desktop,2014-01-01 00:00:00
3,116,1,2014-01-01 00:03:15,4,78.92,2,desktop,2014-01-01 00:00:00
4,371,1,2014-01-01 00:04:20,3,31.54,2,desktop,2014-01-01 00:00:00
5,486,1,2014-01-01 00:05:25,3,23.76,2,desktop,2014-01-01 00:00:00
6,271,1,2014-01-01 00:06:30,3,43.63,2,desktop,2014-01-01 00:00:00
7,192,1,2014-01-01 00:07:35,4,42.27,2,desktop,2014-01-01 00:00:00
8,341,1,2014-01-01 00:08:40,3,47.68,2,desktop,2014-01-01 00:00:00
9,10,1,2014-01-01 00:09:45,5,57.39,2,desktop,2014-01-01 00:00:00
10,29,1,2014-01-01 00:10:50,2,20.91,2,desktop,2014-01-01 00:00:00
11,158,1,2014-01-01 00:11:55,4,141.66,2,desktop,2014-01-01 00:00:00
12,245,1,2014-01-01 00:13:00,1,121.75,2,desktop,2014-01-01 00:00:00
13,495,1,2014-01-01 00:14:05,5,69.45,2,desktop,2014-01-01 00:00:00
14,438,1,2014-01-01 00:15:10,4,76.38,2,desktop,2014-01-01 00:00:00
15,175,1,2014-01-01 00:16:15,2,141.49,2,desktop,2014-01-01 00:00:00
16,353,2,2014-01-01 00:17:20,4,42.99,5,mobile,2014-01-01 00:17:20
17,270,2,2014-01-01 00:18:25,5,123.53,5,mobile,2014-01-01 00:17:20
18,453,2,2014-01-01 00:19:30,5,9.32,5,mobile,2014-01-01 00:17:20
19,370,2,2014-01-01 00:20:35,1,106.99,5,mobile,2014-01-01 00:17:20
20,22,2,2014-01-01 00:21:40,3,116.02,5,mobile,2014-01-01 00:17:20
21,250,2,2014-01-01 00:22:45,2,60.09,5,mobile,2014-01-01 00:17:20
22,74,2,2014-01-01 00:23:50,5,90.69,5,mobile,2014-01-01 00:17:20
23,207,2,2014-01-01 00:24:55,5,48.27,5,mobile,2014-01-01 00:17:20
24,399,2,2014-01-01 00:26:00,2,135.25,5,mobile,2014-01-01 00:17:20
25,122,2,2014-01-01 00:27:05,5,13.81,5,mobile,2014-01-01 00:17:20
26,496,3,2014-01-01 00:28:10,1,137.82,4,mobile,2014-01-01 00:28:10
27,459,3,2014-01-01 00:29:15,1,23.20,4,mobile,2014-01-01 00:28:10
28,134,3,2014-01-01 00:30:20,3,120.08,4,mobile,2014-01-01 00:28:10
29,384,3,2014-01-01 00:31:25,4,26.16,4,mobile,2014-01-01 00:28:10
...,...,...,...,...,...,...,...,...
470,497,34,2014-01-01 08:29:10,5,148.86,3,desktop,2014-01-01 08:24:50
471,430,34,2014-01-01 08:30:15,4,34.68,3,desktop,2014-01-01 08:24:50
472,500,34,2014-01-01 08:31:20,2,129.35,3,desktop,2014-01-01 08:24:50
473,467,34,2014-01-01 08:32:25,5,145.19,3,desktop,2014-01-01 08:24:50
474,425,34,2014-01-01 08:33:30,3,70.38,3,desktop,2014-01-01 08:24:50
475,361,34,2014-01-01 08:34:35,3,71.63,3,desktop,2014-01-01 08:24:50
476,469,34,2014-01-01 08:35:40,3,14.48,3,desktop,2014-01-01 08:24:50
477,284,34,2014-01-01 08:36:45,1,30.04,3,desktop,2014-01-01 08:24:50
478,277,34,2014-01-01 08:37:50,4,128.34,3,desktop,2014-01-01 08:24:50
479,267,34,2014-01-01 08:38:55,5,58.47,3,desktop,2014-01-01 08:24:50
480,319,34,2014-01-01 08:40:00,4,128.23,3,desktop,2014-01-01 08:24:50
481,241,34,2014-01-01 08:41:05,4,27.57,3,desktop,2014-01-01 08:24:50
482,427,34,2014-01-01 08:42:10,1,16.75,3,desktop,2014-01-01 08:24:50
483,237,34,2014-01-01 08:43:15,1,108.01,3,desktop,2014-01-01 08:24:50
484,3,35,2014-01-01 08:44:20,3,62.49,3,mobile,2014-01-01 08:44:20
485,6,35,2014-01-01 08:45:25,4,17.05,3,mobile,2014-01-01 08:44:20
486,14,35,2014-01-01 08:46:30,1,51.20,3,mobile,2014-01-01 08:44:20
487,435,35,2014-01-01 08:47:35,3,60.49,3,mobile,2014-01-01 08:44:20
488,493,35,2014-01-01 08:48:40,5,132.94,3,mobile,2014-01-01 08:44:20
489,374,35,2014-01-01 08:49:45,1,60.51,3,mobile,2014-01-01 08:44:20
490,118,35,2014-01-01 08:50:50,1,108.50,3,mobile,2014-01-01 08:44:20
491,338,35,2014-01-01 08:51:55,5,93.71,3,mobile,2014-01-01 08:44:20
492,37,35,2014-01-01 08:53:00,5,62.79,3,mobile,2014-01-01 08:44:20
493,331,35,2014-01-01 08:54:05,1,17.58,3,mobile,2014-01-01 08:44:20
494,311,35,2014-01-01 08:55:10,5,24.01,3,mobile,2014-01-01 08:44:20
495,112,35,2014-01-01 08:56:15,5,55.42,3,mobile,2014-01-01 08:44:20
496,111,35,2014-01-01 08:57:20,3,34.87,3,mobile,2014-01-01 08:44:20
497,276,35,2014-01-01 08:58:25,1,10.94,3,mobile,2014-01-01 08:44:20
498,266,35,2014-01-01 08:59:30,5,19.86,3,mobile,2014-01-01 08:44:20
499,203,35,2014-01-01 09:00:35,3,148.31,3,mobile,2014-01-01 08:44:20

In [28]:
data['transactions']

     transaction_id  session_id    transaction_time product_id  amount
0               298           1 2014-01-01 00:00:00          5  127.64
1                 2           1 2014-01-01 00:01:05          2  109.48
2               308           1 2014-01-01 00:02:10          3   95.06
3               116           1 2014-01-01 00:03:15          4   78.92
4               371           1 2014-01-01 00:04:20          3   31.54
5               486           1 2014-01-01 00:05:25          3   23.76
6               271           1 2014-01-01 00:06:30          3   43.63
7               192           1 2014-01-01 00:07:35          4   42.27
8               341           1 2014-01-01 00:08:40          3   47.68
9                10           1 2014-01-01 00:09:45          5   57.39
10               29           1 2014-01-01 00:10:50          2   20.91
11              158           1 2014-01-01 00:11:55          4  141.66
12              245           1 2014-01-01 00:13:00          1  121.75
13              495           1 2014-01-01 00:14:05          5   69.45
14              438           1 2014-01-01 00:15:10          4   76.38
15              175           1 2014-01-01 00:16:15          2  141.49
16              353           2 2014-01-01 00:17:20          4   42.99
17              270           2 2014-01-01 00:18:25          5  123.53
18              453           2 2014-01-01 00:19:30          5    9.32
19              370           2 2014-01-01 00:20:35          1  106.99
20               22           2 2014-01-01 00:21:40          3  116.02
21              250           2 2014-01-01 00:22:45          2   60.09
22               74           2 2014-01-01 00:23:50          5   90.69
23              207           2 2014-01-01 00:24:55          5   48.27
24              399           2 2014-01-01 00:26:00          2  135.25
25              122           2 2014-01-01 00:27:05          5   13.81
26              496           3 2014-01-01 00:28:10          1  137.82
27              459           3 2014-01-01 00:29:15          1   23.20
28              134           3 2014-01-01 00:30:20          3  120.08
29              384           3 2014-01-01 00:31:25          4   26.16
..              ...         ...                 ...        ...     ...
470             497          34 2014-01-01 08:29:10          5  148.86
471             430          34 2014-01-01 08:30:15          4   34.68
472             500          34 2014-01-01 08:31:20          2  129.35
473             467          34 2014-01-01 08:32:25          5  145.19
474             425          34 2014-01-01 08:33:30          3   70.38
475             361          34 2014-01-01 08:34:35          3   71.63
476             469          34 2014-01-01 08:35:40          3   14.48
477             284          34 2014-01-01 08:36:45          1   30.04
478             277          34 2014-01-01 08:37:50          4  128.34
479             267          34 2014-01-01 08:38:55          5   58.47
480             319          34 2014-01-01 08:40:00          4  128.23
481             241          34 2014-01-01 08:41:05          4   27.57
482             427          34 2014-01-01 08:42:10          1   16.75
483             237          34 2014-01-01 08:43:15          1  108.01
484               3          35 2014-01-01 08:44:20          3   62.49
485               6          35 2014-01-01 08:45:25          4   17.05
486              14          35 2014-01-01 08:46:30          1   51.20
487             435          35 2014-01-01 08:47:35          3   60.49
488             493          35 2014-01-01 08:48:40          5  132.94
489             374          35 2014-01-01 08:49:45          1   60.51
490             118          35 2014-01-01 08:50:50          1  108.50
491             338          35 2014-01-01 08:51:55          5   93.71
492              37          35 2014-01-01 08:53:00          5   62.79
493             331          35 2014-01-01 08:54:05          1   17.58
494             311          35 2014-01-01 08:55:10          5   24.01
495             112          35 2014-01-01 08:56:15          5   55.42
496             111          35 2014-01-01 08:57:20          3   34.87
497             276          35 2014-01-01 08:58:25          1   10.94
498             266          35 2014-01-01 08:59:30          5   19.86
499             203          35 2014-01-01 09:00:35          3  148.31

[500 rows x 5 columns]

In [30]:
transactions_df

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device,session_start,zip_code,join_date,date_of_birth
0,298,1,2014-01-01 00:00:00,5,127.64,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
1,2,1,2014-01-01 00:01:05,2,109.48,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
2,308,1,2014-01-01 00:02:10,3,95.06,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
3,116,1,2014-01-01 00:03:15,4,78.92,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
4,371,1,2014-01-01 00:04:20,3,31.54,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
5,486,1,2014-01-01 00:05:25,3,23.76,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
6,271,1,2014-01-01 00:06:30,3,43.63,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
7,192,1,2014-01-01 00:07:35,4,42.27,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
8,341,1,2014-01-01 00:08:40,3,47.68,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
9,10,1,2014-01-01 00:09:45,5,57.39,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
10,29,1,2014-01-01 00:10:50,2,20.91,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
11,158,1,2014-01-01 00:11:55,4,141.66,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
12,245,1,2014-01-01 00:13:00,1,121.75,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
13,495,1,2014-01-01 00:14:05,5,69.45,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
14,438,1,2014-01-01 00:15:10,4,76.38,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
15,175,1,2014-01-01 00:16:15,2,141.49,2,desktop,2014-01-01 00:00:00,13244,2012-04-15 23:31:04,1986-08-18
16,151,10,2014-01-01 02:31:40,1,68.25,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
17,332,10,2014-01-01 02:32:45,3,104.94,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
18,460,10,2014-01-01 02:33:50,5,123.19,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
19,244,10,2014-01-01 02:34:55,2,116.95,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
20,260,10,2014-01-01 02:36:00,4,101.30,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
21,302,10,2014-01-01 02:37:05,5,64.47,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
22,282,10,2014-01-01 02:38:10,4,98.58,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
23,155,10,2014-01-01 02:39:15,1,107.27,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
24,105,10,2014-01-01 02:40:20,2,142.44,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
25,212,10,2014-01-01 02:41:25,5,52.28,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
26,388,10,2014-01-01 02:42:30,3,141.93,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
27,9,10,2014-01-01 02:43:35,2,15.80,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
28,440,10,2014-01-01 02:44:40,5,50.45,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
29,98,10,2014-01-01 02:45:45,2,23.96,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
...,...,...,...,...,...,...,...,...,...,...,...
470,497,34,2014-01-01 08:29:10,5,148.86,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
471,430,34,2014-01-01 08:30:15,4,34.68,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
472,500,34,2014-01-01 08:31:20,2,129.35,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
473,467,34,2014-01-01 08:32:25,5,145.19,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
474,425,34,2014-01-01 08:33:30,3,70.38,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
475,361,34,2014-01-01 08:34:35,3,71.63,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
476,469,34,2014-01-01 08:35:40,3,14.48,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
477,284,34,2014-01-01 08:36:45,1,30.04,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
478,277,34,2014-01-01 08:37:50,4,128.34,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
479,267,34,2014-01-01 08:38:55,5,58.47,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
480,319,34,2014-01-01 08:40:00,4,128.23,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
481,241,34,2014-01-01 08:41:05,4,27.57,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
482,427,34,2014-01-01 08:42:10,1,16.75,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
483,237,34,2014-01-01 08:43:15,1,108.01,3,desktop,2014-01-01 08:24:50,13244,2011-08-13 15:42:34,2003-11-21
484,3,35,2014-01-01 08:44:20,3,62.49,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
485,6,35,2014-01-01 08:45:25,4,17.05,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
486,14,35,2014-01-01 08:46:30,1,51.20,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
487,435,35,2014-01-01 08:47:35,3,60.49,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
488,493,35,2014-01-01 08:48:40,5,132.94,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
489,374,35,2014-01-01 08:49:45,1,60.51,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
490,118,35,2014-01-01 08:50:50,1,108.50,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
491,338,35,2014-01-01 08:51:55,5,93.71,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
492,37,35,2014-01-01 08:53:00,5,62.79,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
493,331,35,2014-01-01 08:54:05,1,17.58,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
494,311,35,2014-01-01 08:55:10,5,24.01,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
495,112,35,2014-01-01 08:56:15,5,55.42,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
496,111,35,2014-01-01 08:57:20,3,34.87,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
497,276,35,2014-01-01 08:58:25,1,10.94,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
498,266,35,2014-01-01 08:59:30,5,19.86,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21
499,203,35,2014-01-01 09:00:35,3,148.31,3,mobile,2014-01-01 08:44:20,13244,2011-08-13 15:42:34,2003-11-21